/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner { /*  border: 0;*/ /*  padding: 0;*/
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */ /* 2 */
	box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/**
 * AccessSlide
 * 
 * Main layout stylesheet
 * 
 * @project AccessSlide
 * @version 1.0
 * @author Access42
 * @copyright Access42
 * @license GPL
 */

/*
Index
======
1. GENERIC STYLE
2. MAIN LAYOUT
	2.1 HEADER
	2.2 WRAPPER
	2.3 VOLET
3. TOOLBAR
	3.1 NAVIGATION BLOCK
	3.2 NAVIGATION ELEMENTS
	3.3 RELATED LINKS
4. SLIDES
5. PAGINATION SLIDE LINEAR LAYOUT
6. TOOL BLOCK (SUMMARY & CONFIG)
	6.1 TOOLS ELEMENTS
*/

/*
LAYOUT
======
+	body
	+	#screen
		-	#banner [.main-header]
		+	#nav [.tool-bar]
			+	#wrappernav	
				- .related
				- #navbar
		-	.tool-summary [.tool-block]
		+	#wrapper
			-	#volet
			+	main
				- .slide
		-	.tool-settings [.tool-block ]
*/

/**
 * -------------------------
 * @section 1. GENERIC STYLE
 * -------------------------
 */

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: helvetica,sans-serif;
}

body {
	height: 100%!important;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow-x: hidden;
}

input,
select,
button {
	cursor: pointer;
}

input[disabled="disabled"],
select[disabled="disabled"],
button[disabled="disabled"] {
	cursor: default;
}

figure {
	margin: 0;
	text-align: center;
}

.slide img {
	max-width: 100%;
	max-height: 50vh;
	margin: auto;
	margin-bottom: 10px;
}

.slide img.noborder {
  border: none;
  box-shadow: none;
  background: none;
  margin: none;
}
	
img.center {
	display: block;
}

.center {
	text-align: center;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.slide h2:first-of-type {
	margin-top: 0;
}

h2.quote {
	width: 72vw;
	height: 72vh;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center;
	font-size: 3.5rem;
	margin: 0;
	padding: 5rem;
	box-sizing: border-box;
	line-height: 1.1;
	border: 1.5rem solid #ea7070;
  }
	
.slide img.caribou {
	display: block;
	border: none;
	box-shadow: none;
	background: none;
	margin: none;
	max-height: 65vh;
}
.btn-github {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 950;
}

#Caudio {
	display: none;
}

.icon {
	display: none;
}

.fontawesome .icon {
	display: inline-block;
}

.fontawesome .icon:before {
	display: inline-block;
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.fontawesome .text {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}

.fontawesome a[href*="twitter.com"] .icon:before {
	content: "\f099";
}

.fontawesome a[href*="github.com"] .icon:before {
	content: "\f09b";
}

.is-hidden {
	display: none;
}

.sr {
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

/**
 * -------------------------
 * @section 2. MAIN LAYOUT
 * -------------------------
 */

#Dcourante {
	position: absolute;
	top: -10000000000px;
}

#screen.modeplan,
#screen.fullscreen {
	width: 100%;
	margin: 0 auto;
}

/** @subsection 2.1 HEADER **/

.main-header {
	position: relative;
	z-index: 900;
	left: 0;
}

.modeplan .main-header,
.fullscreen .main-header {
	width: 100%;
	z-index: 1;
	top: 0;
}

.modeplan .main-header {
	position: fixed;
}

.fullscreen .main-header {
	position: relative;
}

.main-header.masque {
	left: -100000000px;
}

.modeplan .main-header.masque {
	left: 0;
}

.main-header h1 {
	float: right;
}

.main-logo {
	float: left;
	margin-top: 10px;
}

/** @subsection 2.2 WRAPPER **/

#wrapper {
	position: relative;
	height: 80%;
	max-height: 100%;
	overflow-y: auto;
}

.modeplan #wrapper {
	width: 100%;
	height: auto;
	max-height: auto;
	padding-top: 53px;
}

/* @subsection 2.3 VOLET */

#volet {
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	display: none;
}

.modeplan #volet {
	width: 0;
}

/**
 * -------------------------
 * @section 3. TOOLBAR
 * -------------------------
 */

.tool-bar {
	position: absolute;
	z-index: 3;
	bottom: 0;
}

.modeplan .tool-bar {
	position: fixed;
}

.modeplan .tool-bar {
	padding-top: 10px;
}

/** @subsection 3.1 NAVIGATION BLOCK**/

#navbar {
	padding: 0;
	margin: 5px 0 0 0;
}

.modeplan #navbar {
	margin-top: 0;
	margin-right: 2px;
}

/** @subsection 3.2 NAVIGATION ELEMENTS**/

#navbar li {
	float: left;
	margin: 0;
	list-style: none;
}

.tool-bar-elt {
	height: 2.8em;
	overflow: hidden;
}

.btn {
	padding: 10px;
}

.fontawesome .icon-settings:before {
	content: "\f085";
	font-size: 110%;
}

.fontawesome .icon-summary:before {
	content: "\f03a";
	font-size: 110%;
}

.fontawesome .icon-next:before {
	content: "\f0da";
	font-size: 180%;
	line-height: 80%;
}

.fontawesome .icon-prev:before {
	content: "\f0d9";
	font-size: 180%;
	line-height: 80%;
}

.modeplan .mp-none {
	display: none;
}

/* Page select */

.select-goto {
	float: left;
	font-size: 85%;
	margin-top: 12px;
}

.fontawesome .icon-goto:before {
	content: "\f050";
	line-height: 0;
}

/* Slide counter */

.slide-counter {
	position: relative;
	font-weight: bold;
	top: 12px;
}

.slide-counter span {
	float: left;
	margin: 0;
	text-align: center;
	min-width: 30px;
	padding: 2px 5px 0 5px;
	height: 1.6em;
	line-height: 1.1em;
	font-size: 0.7em;
}

/** @subsection 3.3 RELATED LINKS**/

.related {
	float: left;
	padding: 0;
}

.related li {
	display: inline;
}

.related img {
	vertical-align: middle;
}

.fontawesome .icon-plus:before {
	content: "\f0fe";
	font-size: 125%;
}

/**
 * -------------------------
 * @section 4. SLIDES
 * -------------------------
 */

.slide {
	position: relative;
	opacity: 0;
	overflow: auto;
	padding: 0 12%;
	top: 3vh;
}

.modeplan .slide {
	opacity: 1;
	position: relative;
	min-height: 20em;
	z-index: 0;
	font-size: 100%;
}

.modeplan .Cagauche .slide {
	width: 75%;
}

.modeplan .couv { /* first slide*/
	margin-top: 0;
}

/* last slide*/

.modeplan .end {
	margin-bottom: 50px;
}

/**
 * -------------------------
 * @section 5. PAGINATION SLIDE LINEAR LAYOUT
 * -------------------------
 */

.index { /** pagination only visible when linear layout (modeplan) is active **/
	position: absolute;
	top: -13px;
	right: 0;
}

.index span {
	display: block;
	width: 5em;
	text-align: center;
	font-size: 65%;
	font-weight: normal;
	padding-top: 3px;
}

/**
 * -------------------------
 * @section 6. TOOL BLOCK (SUMMARY & CONFIG)
 * -------------------------
 */

.tool-block {
	display: none;
	position: absolute;
	width: 300px;
	height: 85%;
	padding-bottom: 25px;
	z-index: 1200;
	top: 10%;
	right: 0;
	padding-top: 1em;
	overflow-x: hidden;
}

/** @subsection 6.1 TOOLS ELEMENTS **/

.tool-block-title {
	margin-top: 0;
	padding-bottom: 0.3em;
}

.tool-block-settings fieldset {
	font-size: 3vh;
}

.input-setting,
.label-setting {
	display: inline-block;
}

.input-setting {
	position: relative;
	top: 2px;
}

.label-setting {
	line-height: 1.8em;
}

.tool-block-settings .icon:before {
	margin: 0 6px;
}

.icon-setting-sound:before {
	content: "\f028";
}

.icon-setting-next:before {
	content: "\f0da";
}

.icon-setting-mouse:before {
	content: "\f0a6";
}

.icon-setting-summary:before {
	content: "\f03a";
}

.icon-setting-anim:before {
	content: "\f0d0";
}

.icon-setting-plan:before {
	content: "\f0db";
}

#effects,
#effects option {
	font-size: 100%;
}

.help {
	display: none;
}

.input-setting:hover + .help,
.input-setting:focus + .help {
	display: block;
	position: absolute;
	max-width: 20em;
	margin-top: 0;
	margin-left: 20px;
	font-size: 80%;
	padding: 3px;
	z-index: 900;
}

.tool-block-summary button {
	text-align: left;
}

.btn-group-settings { /* Save & Default button**/
	padding: 2em 0;
	text-align: center;
}

.btn-setting {
	padding: 0.3em;
	margin-right: 3px;
}

.btn-close {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 23px;
	height: 23px;
	border: none;
}

.btn-close .icon:before {
	content: "\f00d";
}

.btn-close:hover .icon,
.btn-close:focus .icon {
	opacity: 0.5;
}

/*
 * @section CSS Effect
 */

/* 
 *@subsection horizontal
 */

#volet.ALTR,
#volet.ARTL {
	display: block;
	-webkit-animation: horizontal 1.5s ease;
	animation: horizontal 1.5s ease;
}

#volet.ALTR {
	left: 0;
}

#volet.ARTL {
	right: 0;
}

/* 
 *@subsection vertical
 */

#volet.ATtoB {
	display: block;
	-webkit-animation: bottom-top 2s ease;
	animation: bottom-top 2s ease;
}

/* 
 *@subsection top-bottom
 */

#volet.ATtoT {
	display: block;
	-webkit-animation: top-bottom 2s ease;
	animation: top-bottom 2s ease;
}

/*
 * @subsection fade in
 */

.slide.fadein {
	-webkit-animation: fadein 1.5s linear;
	animation: fadein 1.5s linear;
}

/*
 * @subsection Flash Effect
 */

#volet.Flash {
	display: block;
	-webkit-animation: flash 2s ease;
	animation: flash 2s ease;
}

/*
 * @subsection Scale Effect
 */

.slide.Escale {
	display: block;
	-webkit-animation: scale 1s ease-out;
	animation: scale 1s ease-out;
}

/*
 * @subsection Flip effet
 */

.slide.Flip {
	-webkit-animation: flip 1s ease-out;
	animation: flip 1s ease-out;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

/* Tomorrow Night Eighties Theme */

/* Original theme - https://github.com/chriskempson/tomorrow-theme */

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */

.hljs-comment {
	color: #999999;
}

/* Tomorrow Red */

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
	color: #f2777a;
}

/* Tomorrow Orange */

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
	color: #f99157;
}

/* Tomorrow Yellow */

.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
	color: #ffcc66;
}

/* Tomorrow Green */

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
	color: #99cc99;
}

/* Tomorrow Aqua */

.hljs-title,
.css .hljs-hexcolor {
	color: #66cccc;
}

/* Tomorrow Blue */

.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
	color: #6699cc;
}

/* Tomorrow Purple */

.hljs-keyword,
.javascript .hljs-function {
	color: #cc99cc;
}

.hljs {
	display: block;
	overflow-x: auto;
	background: #2d2d2d;
	color: #cccccc;
	padding: 0.5em;
	-webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
	opacity: 0.5;
}

@media screen and (min-width: 48em) {

#screen {
	position: relative;
	height: 100%;
	margin: 0 auto;
	z-index: 0;
	overflow-y: hidden;
}

.main-header {
	margin: 0 0 5px 0;
	padding: 0 12%;
}

#wrapper {
	padding: 0 0.3em 0.3em 0.3em;
}

.tool-bar {
	width: 100%;
	min-height: 40px;
	bottom: 0px;
}

#wrappernav {
	margin: auto;
	padding: 0 12%;
}

#navbar {
	float: right;
	margin-right: -10px;
}

.related {
	margin-top: 12px;
}

.end {
	padding-top: 80px;
}

}

@media screen and (max-width: 48em) {

.btn-github {
	display: none;
}

#screen {
	margin: 0;
	overflow: auto;
}

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
}

.main-header h1 {
	padding: 2px 0;
	margin: 0;
}

.main-logo {
	position: relative;
	width: 70px;
	height: auto;
	display: block;
	margin: auto;
}

#wrapper {
	padding-bottom: 80px;
}

.tool-bar {
	position: fixed;
}

.tool-bar {
	bottom: 0;
	width: 100%;
}

#navbar {
	height: 1.2em;
}

.modeplan #navbar {
	height: 1.6em;
}

.btn-block-settings {
	right: 0;
}

.btn-block-summary {
	right: 2em;
}

/** TOGGLE RELATED LINKS**/

#toggle-nav {
	float: left;
	margin-top: 10px;
}

.related {
	position: absolute;
	bottom: 36px;
	padding: 10px;
}

.related li {
	display: block;
	margin-bottom: 5px;
}

.related li a {
	display: block;
	width: 100%;
}

.is-closed .related {
	display: none;
}

.slide {
	padding: 0.5em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	top: 10vh;
}

.tool-block {
	min-height: 100%;
	left: 0;
	top: 0;
}

.tool-block-summary {
	top: 0!important;
}

}

@-webkit-keyframes horizontal {

0% {
	height: 100%;
	width: 99%;
	opacity: 1;
}

100% {
	width: 0%;
	height: 100%;
	opacity: 0.9;
}

}

@keyframes horizontal {

0% {
	height: 100%;
	width: 99%;
	opacity: 1;
}

100% {
	width: 0%;
	height: 100%;
	opacity: 0.9;
}

}

@-webkit-keyframes bottom-top {

0% {
	top: 0;
	bottom: 0;
}

100% {
	top: 0;
	bottom: 100%;
}

}

@keyframes bottom-top {

0% {
	top: 0;
	bottom: 0;
}

100% {
	top: 0;
	bottom: 100%;
}

}

@-webkit-keyframes top-bottom {

0% {
	left: 0;
	right: 0;
	top: -15px;
	bottom: 0;
}

100% {
	left: 0;
	right: 0;
	top: 100%;
	bottom: 0;
}

}

@keyframes top-bottom {

0% {
	left: 0;
	right: 0;
	top: -15px;
	bottom: 0;
}

100% {
	left: 0;
	right: 0;
	top: 100%;
	bottom: 0;
}

}

@-webkit-keyframes fadein {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes fadein {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@-webkit-keyframes flash {

0% {
	top: 0;
	bottom: 0;
	opacity: 1;
}

100% {
	top: 0;
	bottom: 0;
	opacity: 0;
}

}

@keyframes flash {

0% {
	top: 0;
	bottom: 0;
	opacity: 1;
}

100% {
	top: 0;
	bottom: 0;
	opacity: 0;
}

}

@-webkit-keyframes scale {

0% {
	-webkit-transform: scale(0);
	transform: scale(0);
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

}

@keyframes scale {

0% {
	-webkit-transform: scale(0);
	transform: scale(0);
}

100% {
	-webkit-transform: scale(1);
	transform: scale(1);
}

}

@-webkit-keyframes flip {

0% {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

100% {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

}

@keyframes flip {

0% {
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

100% {
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

}

